section(class="Login")
	div(class="Login-transparentImage")
		div(class="Login-container")
			div(class="Login-formContainer")
				div(class="Login-imageContainer")
					img(src="../public/images/logos/ayl.jpg", alt="Desarrolladora Arquitectura y Libertad", class="Login-image Login-logoAYL")
				form(action="dashboard.html", class="Login-form", method="post", runat="server")
					input(type="text", class="Login-inputText form-control input-lg", placeholder="Email")
					input(type="password", class="Login-inputText form-control input-lg", placeholder="Password")
					select(class="Login-select.form-control.input-lg")
						option Empresa
						option Bosques de tepepan
						option ME48
						option Ventana Polanco
					button(class="Login-button btn-danger") Continuar
					label(class="Login-labelError")