nav(class="Menu navbar navbar-inverse navbar-fixed-top")
	div(class="Menu-rectangle container-fluid")
		div(class="Menu-navbar navbar-header")
			buton(type="button", class="Menu-buttonMenu navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
				span(class="menu-span sr-only")
				span(class="icon-bar")
				span(class="icon-bar")
				span(class="icon-bar")
			a(class="Menu-logoContainer navbar-brand" href="#") Concursos A&L
		div(id="navbar", class="Menu-listContainer navbar-collapse collapse")
			ul(class="Menu-list nav navbar-nav navbar-right")
				li(class="Menu-item")
					a(href="#", class="glyphicon") Mi cuenta
				li(class="Menu-item")
					a(href="#", class="glyphicon") Ayuda
				li(class="Menu-item")
					a(href="#", class="glyphicon") Salir