section(class="Background")
	article(class="Background-containerImage")
		div(class="Background-image")
		//- video(autoplay, loop, class="Background-video", muted)
		//- 	source(src="http://beta.mattgrossdesign.com/sites/default/files/wood%20autumn-HD.mp4", class="Background-videoSource", type="video/mp4")