section(class="Background")
	article(class="Background-containerImage")
		div(class="Background-image")
		video(autoplay, loop, class="Background-video", muted)
			source(src="http://beta.mattgrossdesign.com/sites/default/files/wood%20autumn-HD.mp4", class="Background-videoSource", type="video/mp4")
			//- source(src="http://bosquesdetepepan.com.mx/public/media/.mp4", class="Background-videoSource", type="video/mp4")
			//- iframe(src="https://player.vimeo.com/video/108745749", class="Background-videoSource")

