section(class="ContainerFluir")
	div(class="container-fluid")
		div(class="row")
			div(class="col-sm-3 col-md-2 sidebar")
				img(src="../public/images/logos/logo_Bosque_Tepepan.png", alt="", class="ContainerFluir-logo")
				ul(class="nav nav-sidebar")
					li(class="active")
						a(href="#") Documentacion
					li(class="ContainerFluir-item")
						a(href="#") Lista de concursos
					li(class="ContainerFluir-item")
						a(href="#") Subir archivos
				div(class="ContainerFluir-logoContainerAyL")
					img(src="../public/images/logos/ayl.jpg", alt="", class="ContainerFluir-logoAyL")