// Buttons
default = #FFFFFF
primary = #337AB7
success = #5CB85C
info 	= #5BC0DE
warning = #F0AD4E
danger 	= #D9534F
inverse = #323232
link 	= #23527C

// Border
containerBorder = #dddddd
defaultBorder 	= #CCCCCC
primaryBorder 	= #025AA5
successBorder 	= #4CAE4C
infoBorder 	  	= #46B8DA
warningBorder 	= #EEA236
inverseBorder 	= #222222
dangerBorder  	= #D43F3A